@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #009b46;
  color: #f6f6f6;
}

.principal {
  margin: 2% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.principal__formulario {
  margin: 0.75% auto;
  width: 52%;
  height: auto;
  align-self: flex-start;
  margin-right: 66px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal__formulario__titulo_formulario {
  margin-top: 6%;
  color: black;
  font-size: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.principal__formulario__input {
  margin-top: 2%;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div_texto_input{
  width: 100%;
  margin-left: 10%;
  display: flex;
}

.indicador{
  color: red;
  align-self: flex-start;
  margin-left: 1%;
  margin-top: 3%;
}

.principal__formulario__input_dados {
  margin-top: 3%;
  width: 85%; 
  height: auto;
  align-self: center;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2em;
  padding-left: 2%;
  padding: 2%;
  background-color: #C4E5D2;
  border: none;
}

.principal__formulario__input_dados::placeholder {
  font-size: 0.75em;
  color: #000000;
  padding-left: 2%;
}

.principal__formulario__input_dados:focus::placeholder {
  color: transparent;
}

.principal__logo_e_frase {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
}

.principal__logo_e_frase__frase_efeito {
  font-size: 2.65em;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.principal__logo_e_frase__logo-trilhas {
  width: 90%;
  margin-top: 60%;
  height: auto;
}

.principal__formulario__doc {
  width: 100%;
  display: flex;
  justify-content:space-around;
}

.principal__formulario__doc__div_texto{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 2%;
}

.principal__formulario__doc__texto{
  color: black;
  margin-bottom: 2%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.principal__formulario__doc__identidade {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5% 3%;
  border: 2px solid #CACACA;
  border-radius: 6px;
}

.principal__formulario__doc__selecionar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-text {
  width: 70%;
  text-align: center;
  color: black;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.upload-text2 {
  width: auto;
  font-size: 0.6em;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.principal__formulario__doc__botao{
  display: none;
}

.principal__formulario__doc__botao2{
  width: 30%; 
  background-color: white;
  border: 2px solid #097E90;
  color: #097E90;
  padding: 1.5% 1%;
  font-size: 1em;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.principal__formulario__doc__botao2:hover {
  background-color: #097E90; 
  color: white; 
}

.principal__formulario__doc__botao2:active {
  background-color: #003040; 
}

.principal__formulario__doc__upload-icon{
  margin-left: 1%;
}

.principal__formulario__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15%;

}

.texto_validacao {
  color: red;
  align-self: flex-start;
  margin-top: 2%;
  margin-left: 6%;
}

.cancelar-btn {
  height: auto;
  background-color: white;
  border: 2px solid green;
  color: green; 
  padding: 2% 15%; 
  font-size: 1em; 
  border-radius: 8px;
  text-align: center;
  margin-left: 10%;

}

.cancelar-btn:hover {
  background-color: green; 
  color: white; 
}

.cancelar-btn:active {
  background-color: darkseagreen;
}

.enviar-btn {
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: green;
  border: 2px solid green;
  color: white;
  padding: 2% 15%;
  text-align: center;
  font-size: 1em;
  border-radius: 8px;
  margin-right: 10%;
}

.enviar-btn:hover {
  background-color: darkgreen; 
  color: white; 
}

.enviar-btn:active {
  background-color: darkseagreen; 
}