@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --cor-background: #2b2b2b;
  --cor-primaria: #6276e7;
  --cor--primaria-codigo: invert(45%) sepia(26%) saturate(3089%)
    hue-rotate(211deg) brightness(95%) contrast(90%);
  --cor-secundaria: #f6f6f6;
  --cor-secundaria-codigo: invert(100%) sepia(0%) saturate(176%)
    hue-rotate(184deg) brightness(114%) contrast(93%);

  --fonte-primaria: 'Do Hyeon', sans-serif;
  --fonte-secundaria: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  padding: 0;
}

.cabecalho--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 0rem 4rem 0rem;
  position: relative;
}

.cabecalho--menu--link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  position: relative;
}

.cabecalho--menu--link::after {
  content: '';
  position: absolute;
  transform: translateY(0.25rem);
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--cor-primaria);
  transition: width 0.5s ease;
}

.cabecalho--menu--link:hover::after {
  width: 100%;
}

.cabecalho--menu--link-ativo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  text-decoration: none;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  position: relative;
}

.cabecalho--menu--link-ativo::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: -1;
}

.cabecalho--menu--link-ativo:hover::after {
  width: 100%; /* Quando o mouse estiver sobre o elemento, a largura aumentará para 100% */
}

.cabecalho--menu--image {
  filter: var(--cor--primaria-codigo);
  width: 50%;
  padding-bottom: 6%;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-background);
  color: var(--cor-secundaria);
  background-image: url('../assets/codigos.png');
}

.apresentacao {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0% 0% 0%;
  margin-bottom: 4rem;
  gap: 10rem;
}

.apresentacao--texto {
  width: 34.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
}

.apresentacao--texto-coluna {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 2rem;
}

.apresentacao--texto--titulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 2.25rem;
}

.apresentacao--texto--titulo-sobrenome {
  color: var(--cor-primaria);
}

.apresentacao--texto--paragrafo {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao--texto--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.apresentacao--texto--links--intro {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao--texto--links--externo {
  display: flex;
  text-decoration: none;
  border-radius: 8px;
  width: 23.7rem;
  justify-content: center;
  padding: 2% 0% 2% 0%;
  border: 2px solid var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  color: var(--cor-primaria);
  font-weight: 400;
  font-size: 1.5rem;
  gap: 2%;
}

.apresentacao--texto--links--externo:hover {
  background-color: var(--cor-secundaria);
}

.apresentacao--texto--links--imagem {
  filter: var(--cor--primaria-codigo);
  width: 10%;
}

.apresentacao--imagem {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apresentacao--imagem--foto {
  width: 26rem;
  z-index: 2;
  border-radius: 5%;
  bottom: 50%;
}

.apresentacao--imagem--index {
  position: absolute;
  width: 26rem;
  height: 98%;
  bottom: 2rem; /* ajuste de posição vertical */
  left: 2rem; /* ajuste de posição horizontal */
  border-radius: 5%;
  border: 3px solid var(--cor-primaria);
  z-index: 1;
}

.apresentacao--projetos {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 4.6rem;
}

.apresentacao--texto-coluna {
  width: 78.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
}

.apresentacao--projetos--imagem {
  position: relative;
  width: 23rem;
  height: 19rem;
  border-radius: 16px;
}

.apresentacao--projetos--imagem-borda1 {
  position: absolute;
  width: 23rem;
  height: 98%;
  bottom: -2.5%; /* ajuste de posição vertical */
  left: 1%; /* ajuste de posição horizontal */
  border-radius: 16px;
  border: 3px solid var(--cor-primaria);
  z-index: -1;
}

.apresentacao--projetos--imagem-borda2 {
  position: absolute;
  width: 23rem;
  height: 98%;
  bottom: -2.5%; /* ajuste de posição vertical */
  left: 36%; /* ajuste de posição horizontal */
  border-radius: 5%;
  border: 3px solid var(--cor-primaria);
  z-index: -1;
}

.apresentacao--projetos--imagem-borda3 {
  position: absolute;
  width: 23rem;
  height: 98%;
  bottom: -2.5%; /* ajuste de posição vertical */
  left: 71.5%; /* ajuste de posição horizontal */
  border-radius: 5%;
  border: 3px solid var(--cor-primaria);
  z-index: -1;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  border-top: 3px solid var(--cor-primaria);
}

.rodape--imagem {
  width: 8rem;
}

.rodape--texto {
  font-family: var(--fonte-secundaria);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 2%;
}

.rodape--texto-instagram {
  text-decoration: none;
  color: var(--cor-primaria);
}

@media (max-width: 360px) {
  .cabecalho--menu {
    justify-content: center;
    width: auto;
  }

  .apresentacao {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .apresentacao--texto {
    width: auto;
  }

  .apresentacao--texto-coluna {
    width: auto;
  }

  .apresentacao--imagem--index {
    width: 19rem;
  }

  .apresentacao--imagem--foto {
    width: 19rem;
  }

  .apresentacao--projetos {
    display: flex;
    flex-direction: column;
  }

  .apresentacao--projetos--imagem {
    width: 19rem;
    height: 12.79rem;
    object-fit: cover;
  }

  .apresentacao--projetos--imagem-borda1 {
    width: 17.5rem;
    height: 26%;
    left: 2rem;
    bottom: 35rem;
  }

  .apresentacao--projetos--imagem-borda2 {
    width: 17.5rem;
    height: 26%;
    left: 2rem;
    bottom: 17.5rem;
  }

  .apresentacao--projetos--imagem-borda3 {
    width: 17.5rem;
    height: 26%;
    left: 2rem;
    bottom: -0.5rem;
  }
}
